torch
einops
numpy
omegaconf
einops 
opt_einsum 
transformers
datasets
reportlab 
lm-eval 
joypy 
ipykernel
dacite 
ftfy 
ninja
huggingface-hub
rich
lm-dataformat
omegaconf 
sentencepiece
tokenizers
torchmetrics 
tqdm
seaborn
openpyxl 
pykeops 
torchtext
tensorboard
cryptography
